<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">

  <title>URL Shortnr</title>

  <style>
    body {
      background: #eee;
    }

    .container {
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 15px #666;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
